#size,
#weight,
#dimensions{
    display: none;
}

.invalid-feedback{
    display: block;
}
#my-forms.f-size div[name=size],
#my-forms.f-weight div[name=weight],
#my-forms.f-dimensions div[name=dimensions] {
    display: block;
}
